
{{> header }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>cambios del about</h1>
        <p>
            prueba de hbs
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/quemonito.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}